@import '../themes.scss';

.Footer {
    padding: 5px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    border-top: 1px solid var(--primary-fg-color);
    background-color: var(--primary-bg-color);

    /* Application name. */
    .biblio {
        margin-left: 10px;
        font-size: smaller;
    }

    /* Link to the repository. */
    .repo {
        font-size: small;
        text-decoration: none;
    }
}
