@import '../themes.scss';

.Footer {
    padding: 5px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;

    border-top: var(--general-sep--border);
    background: var(--bar--background);

    // Name of the application.
    .app-title {
        margin-left: 10px;
        font-size: smaller;
    }

    // Link to the repository.
    .app-repo {
        font-size: small;
        text-decoration: none;
    }
}
