@import '../themes.scss';

.Header {
    padding: 15px;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;

    border-bottom: var(--general-sep-border);
    background: var(--bar-bg-color);
    background: var(--bar-bg-gradient);

    // Block on the left displaying title.
    .title-block {
        display: flex;
        align-items: center;
        gap: 15px;

        // Application logo.
        .app-logo {
            height: 40px;
            pointer-events: none;
        }

        // Application name.
        .app-title {
            font-weight: 700;
        }

        // Title of currently opened page.
        .view-title {
            margin-left: 15px;
            font-style: italic;
        }
    }

    // Block on the right displaying links to other pages.
    .nav-block {
        // Link to a page.
        .link {
            text-decoration: none;
            color: var(--primary-fg-color);
        }

        // Link to the currently opened page.
        .current {
            font-weight: 500;
        }
    }
}
