@import '../themes.scss';

.TwoPanels {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    margin-right: 30px;

    // Common style for both panels.
    .panel {
        flex-grow: 1;
    }

    // Left panel.
    .panel-left {
        @extend .panel;

        border-left: var(--general-sep--border);
        border-right: var(--general-sep--border);
    }

    // Right panel.
    .panel-right {
        @extend .panel;

        background: var(--right-panel-background);

        border-right: var(--general-sep--border);
    }
}
