@import '../../themes.scss';

.FileHierarchy {            
    display: flex;
    flex-direction: column;

    height: 100%;
    overflow: hidden;
    padding: var(--hierarchy-padding-gap);
    gap: var(--hierarchy-padding-gap);

    // Separation line between list items.
    .item-separator {
        border-bottom: var(--general-sep-border);
    }
}
