@import '../../themes.scss';

.FileHierarchy {            
    display: flex;
    flex-direction: column;
    gap: 10px;

    // Separation line between list items.
    .item-separator {
        border-bottom: 1px solid var(--primary-fg-color);
    }
}
