@import '../../themes.scss';

.FileHierarchy {            
    display: flex;
    flex-direction: column;

    height: 100%;
    overflow: hidden;
    padding: var(--hierarchy--padding);
    
    background: var(--hierarchy--background);
    box-shadow: var(--hierarchy--box-shadow);
}
