@import '../../themes.scss';

.HierarchyItem {
    border-bottom: var(--general-sep--border);

    // Inner wrapping box.
    .item-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: var(--h-item-box--margin);
        padding: var(--h-item-box--padding);

        // Name of the item.
        .item-title {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 5px;

            // Button to show/hide contents.
            .expand-button {
                display: flex;
                flex-direction: row;
                align-items: center;
                background: none;
                border: none;
                color: inherit;
            }
        }

        // Label indicating that item was selected.
        .item-selection-label {
            font-style: italic;
            color: gray;
        }
    }

    &:hover .item-box {
        color: black;
        background: var(--h-item-hover-box--background);
        box-shadow: var(--h-item-hover-box--box-shadow);
    }

    &:active .item-box {
        background: var(--h-item-active-box--background);
    }
}

// When item was selected.
.selected-item {
    .item-box {
        background: var(--h-selected-item-box--background);
        box-shadow: var(--h-selected-item-box--box-shadow); 
    }
    
    &:hover .item-box {
        background: var(--h-selected-item-hover-box--background);
    }

    &:active .item-box {
        background: var(--h-selected-item-active-box--background);
    }
}
