@import '../../themes.scss';

.HierarchyItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }

    .selected-title {
        color: black;
    }

    .label-selected {
        font-style: italic;
        color: gray;
    }
}

.HierarchyItem:hover {
    margin: -1px;
    border: 1px solid var(--primary-fg-color);
}
