@import '../../themes.scss';

.HierarchyItem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;

    // Name of the item.
    .item-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }

    // Label indicating that item was selected.
    .item-selection-label {
        font-style: italic;
        color: gray;
    }

    &:hover {
        margin: -1px;
        color: black;
        background: lemonchiffon;
        border: var(--general-sep-border);
    }

    &:active {
        margin: -1px;
        background: wheat;
        border: var(--general-sep-border);
    }
}

// When item was selected.
.selected-item {
    background: lemonchiffon;
}

.selected-item:hover {
    background: white;
}

.selected-item:active {
    background: lemonchiffon;
}
