@import './InfoView.scss';

.DocumentInfoView {
    @extend .InfoView;

    grid: auto auto 1fr / auto auto;
    
    .preview-div {
        grid-column: 1 / -1;
        grid-row: 3;
        min-height: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: auto;

        .doc-preview {
            margin: 5px;
            max-width: 100%;
        }
    }
}
