/*
 * Style common to different infoviews.
 */

.InfoView {
    padding: 10px;

    // Name of the infoview.
    .view-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        margin: 10px;
        font-size: larger;
        font-weight: 500;
    }
}
