/*
 * Style common to different infoviews.
 */

.InfoView {
    padding: 10px;
    display: grid;
    grid: auto auto / auto auto;

    // Name of the infoview.
    .view-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
        margin: 10px;
        font-size: larger;
        font-weight: 500;
    }

    .button-area {
        display: flex;
        flex-flow: column;
        gap: 10px;
        align-items: flex-end;
    }
}
