@import '../../themes.scss';

.Button {
    padding: 7px 14px;
    cursor: pointer;
}

.btn-sole {
    border-radius: 8px;
}

.btn-left {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.btn-middle {
}

.btn-right {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

// Blue button.
.btn-blue {
    color: var(--btn-blue-fg-color);
    background: var(--btn-blue-bg-color);
    border: var(--btn-blue-border);
    box-shadow: var(--btn-blue-box-shadow);

    &:hover {
        background: var(--btn-blue-bg-color-hover);
    }
    
    &:active {
        background: var(--btn-blue-bg-color-active);
    }
}

// Green button.
.btn-green {
    color: var(--btn-green-fg-color);
    background: var(--btn-green-bg-color);
    border: var(--btn-green-border);
    box-shadow: var(--btn-green-box-shadow);

    &:hover {
        background: var(--btn-green-bg-color-hover);
    }
    
    &:active {
        background: var(--btn-green-bg-color-active);
    }
}

// Skeuomorph button.
.btn-skeuo {
    color: var(--btn-skeuo-fg-color);
    background: var(--btn-skeuo-bg-color);
    border: var(--btn-skeuo-border);
    box-shadow: var(--btn-skeuo-box-shadow);

    &:hover {
        background: var(--btn-skeuo-bg-color-hover);
    }
    
    &:active {
        background: var(--btn-skeuo-bg-color-active);
    }
}