.Button {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 14px;
    padding-right: 14px;
    border-radius: 5px;
    cursor: pointer;
}

// Blue button.
.btn-blue {
    color: white;
    background-color: blue;
}

// Green button.
.btn-green {
    color: white;
    background-color: green;
}
