@import '../../themes.scss';

.Button {
    padding: 7px 14px;
    cursor: pointer;
    display: flex;
    flex-flow: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
    font-size: smaller;
}

.btn-sole {
    border-radius: 8px;
}

.btn-left {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.btn-middle {
}

.btn-right {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

// Blue button.
.btn-blue {
    color: var(--btn-blue--color);
    background: var(--btn-blue--background);
    border: var(--btn-blue--border);
    box-shadow: var(--btn-blue--box-shadow);
    text-shadow: var(--btn-blue--text-shadow);

    &:hover {
        background: var(--btn-blue-hover--background);
    }
    
    &:active {
        background: var(--btn-blue-active--background);
    }
}

// Green button.
.btn-green {
    color: var(--btn-green--color);
    background: var(--btn-green--background);
    border: var(--btn-green--border);
    box-shadow: var(--btn-green--box-shadow);
    text-shadow: var(--btn-green--text-shadow);

    &:hover {
        background: var(--btn-green-hover--background);
    }
    
    &:active {
        background: var(--btn-green-active--background);
    }
}

// Red button.
.btn-red {
    color: var(--btn-red--color);
    background: var(--btn-red--background);
    border: var(--btn-red--border);
    box-shadow: var(--btn-red--box-shadow);

    &:hover {
        background: var(--btn-red-hover--background);
    }
    
    &:active {
        background: var(--btn-red-active--background);
    }
}

// Skeuomorph button.
.btn-skeuo {
    color: var(--btn-skeuo--color);
    background: var(--btn-skeuo--background);
    border: var(--btn-skeuo--border);
    box-shadow: var(--btn-skeuo--box-shadow);
    text-shadow: 1px 1px 1px hsl(0, 0%, 95%);

    &:hover {
        background: var(--btn-skeuo-hover--background);
    }
    
    &:active {
        background: var(--btn-skeuo-active--background);
    }
}

// Yellow button.
.btn-yellow {
    color: var(--btn-yellow--color);
    background: var(--btn-yellow--background);
    border: var(--btn-yellow--border);
    box-shadow: var(--btn-yellow--box-shadow);

    &:hover {
        background: var(--btn-yellow-hover--background);
    }
    
    &:active {
        background: var(--btn-yellow-active--background);
    }
}
