/*
 * Variables for different application themes.
 */

:root[data-theme="light"] {
    /* General */
    --primary-fg-color: black;
    --primary-bg-color: white;
    --general-sep-border: 1px solid black;

    /* Bars */
    --bar-bg-color: white;

    /* Buttons */
    --btn-blue-fg-color: white;
    --btn-blue-bg-color: hsl(240, 100%, 50%);
    --btn-blue-bg-color-hover: hsl(240, 100%, 70%);
    --btn-blue-bg-color-active: hsl(240, 100%, 25%);

    --btn-green-fg-color: white;
    --btn-green-bg-color: hsl(120, 100%, 25%);
    --btn-green-bg-color-hover: hsl(120, 100%, 35%);
    --btn-green-bg-color-active: hsl(120, 100%, 15%);

    --btn-skeuo-fg-color: black;

    /* Hierarchy */
    --hierarchy-padding-gap: 5px;

    /* Hierarchy item */
    --h-item-hover-background: lemonchiffon;
    --h-item-active-background: wheat;

    --h-item-selected-background: lemonchiffon;
    --h-item-selected-hover-background: white;
    --h-item-selected-active-background: lemonchiffon;
}

:root[data-theme="dark"] {
    /* General */
    --primary-fg-color: white;
    --primary-bg-color: black;
    --general-sep-border: 1px solid white;

    /* Bars */
    --bar-bg-color: black;

    /* Buttons */
    --btn-blue-fg-color: white;
    --btn-blue-bg-color: hsl(240, 100%, 50%);
    --btn-blue-bg-color-hover: hsl(240, 100%, 70%);
    --btn-blue-bg-color-active: hsl(240, 100%, 25%);

    --btn-green-fg-color: white;
    --btn-green-bg-color: hsl(120, 100%, 25%);
    --btn-green-bg-color-hover: hsl(120, 100%, 35%);
    --btn-green-bg-color-active: hsl(120, 100%, 15%);
    
    --btn-skeuo-fg-color: white;

    /* Hierarchy */
    --hierarchy-padding-gap: 5px;

    /* Hierarchy item */
    --h-item-hover-background: lemonchiffon;
    --h-item-active-background: wheat;

    --h-item-selected-background: white;
    --h-item-selected-hover-background: lemonchiffon;
    --h-item-selected-active-background: wheat;
}

:root[data-theme="skeuo"] {
    /* General */
    --primary-fg-color: black;
    --primary-bg-color:  linear-gradient(0deg, hsl(0, 0%, 80%) 0%, hsl(0, 0%, 91%) 100%);
    --general-sep-border: 1px solid gray;
    --right-panel-background: repeating-linear-gradient(to bottom, #eee 0px, #eee 2px, #fff 2px, #fff 4px);

    /* Bars */
    --bar-bg-color: rgb(167,167,167);
    --bar-bg-gradient: linear-gradient(0deg, hsl(0, 0%, 65%) 0%, hsl(0, 0%, 73%) 10%, hsl(0, 0%, 95%) 90%, hsl(0, 0%, 91%) 100%);

    /* Buttons */
    --btn-blue-fg-color: white;
    --btn-blue-bg-color: linear-gradient(0deg, hsl(220, 100%, 30%) 0%, hsl(220, 100%, 62%) 100%);
    --btn-blue-bg-color-hover: linear-gradient(0deg, hsl(220, 100%, 40%) 0%, hsl(220, 100%, 65%) 100%);
    --btn-blue-bg-color-active: linear-gradient(0deg, hsl(220, 100%, 24%) 0%, hsl(220, 100%, 55%) 100%);
    --btn-blue-border: 1px solid hsl(220, 100%, 25%);
    --btn-blue-box-shadow:
        inset 1px 1px 3px hsl(220, 100%, 45%),
        inset -1px -1px 3px hsl(220, 100%, 35%);
    
    --btn-green-fg-color: white;
    --btn-green-bg-color: linear-gradient(0deg, hsl(120, 100%, 25%) 0%, hsl(120, 100%, 40%) 100%);
    --btn-green-bg-color-hover: linear-gradient(0deg, hsl(120, 100%, 30%) 0%, hsl(120, 100%, 42%) 100%);
    --btn-green-bg-color-active: linear-gradient(0deg, hsl(120, 100%, 18%) 0%, hsl(120, 100%, 35%) 100%);
    --btn-green-border: 1px solid hsl(120, 100%, 15%);
    --btn-green-box-shadow:
        inset 1px 1px 3px hsl(120, 100%, 30%),
        inset -1px -1px 3px hsl(120, 100%, 20%);
    
    --btn-skeuo-fg-color: black;
    --btn-skeuo-bg-color: linear-gradient(0deg, hsl(60, 1%, 75%) 0%, hsl(0, 0%, 98%) 100%);
    --btn-skeuo-bg-color-hover: linear-gradient(0deg, hsl(60, 1%, 80%) 0%, hsl(0, 0%, 100%) 100%);
    --btn-skeuo-bg-color-active: linear-gradient(0deg, hsl(60, 1%, 65%) 0%, hsl(0, 0%, 95%) 100%);
    --btn-skeuo-border: 1px solid gray;
    --btn-skeuo-box-shadow:
        inset 1px 1px 3px hsl(0, 0%, 75%),
        inset -1px -1px 3px hsl(0, 0%, 65%);

    /* Hierarchy */
    --hierarchy-background: hsl(0, 0%, 88%);
    --hierarchy-box-shadow:
        inset 7px 7px 20px hsl(0, 0%, 70%),
        inset -7px -7px 20px hsl(0, 0%, 100%);
    
    /* Hierarchy item */
    --h-item-common-gradient:
        linear-gradient(hsl(0 0% 100% / 0.85), transparent 10px),
        linear-gradient(hsl(0 0% 100% / 0.25) 10px, transparent 10px),
        radial-gradient(circle at 10px 5px, hsl(0 0% 100% / 0.25) 5px, transparent 5px),
        radial-gradient(circle at 0px 5px, hsl(0 0% 100% / 0.25) 5px, transparent 5px);

    --h-item-hover-background: 
        var(--h-item-common-gradient),
        linear-gradient(hsl(67, 82%, 87%), hsl(35, 95%, 92%));

    --h-item-active-background:
        var(--h-item-common-gradient),
        linear-gradient(hsl(47, 82%, 87%), hsl(15, 95%, 92%));

    --h-item-selected-background:
        var(--h-item-common-gradient),
        linear-gradient(hsl(213, 82%, 87%), hsl(181, 95%, 92%));

    --h-item-selected-hover-background:
        var(--h-item-common-gradient),
        linear-gradient(hsl(67, 82%, 87%), hsl(35, 95%, 92%));

    --h-item-selected-active-background:
        var(--h-item-common-gradient),
        linear-gradient(hsl(47, 82%, 87%), hsl(15, 95%, 92%));
}
