/*
 * Variables for different application themes.
 */

:root[data-theme="light"] {
    /* General */
    --general-fg--color: black;
    --general-bg--background: white;
    --general-sep--border: 1px solid black;

    /* Central panel */
    --central-pan-title--font-weight: 500;

    /* Bars */
    --bar--background: white;

    /* Text input */
    --text-inp--background: white;
    --text-inp-focus--box-shadow: 0 0 2px 1px hsl(0, 0%, 80%);
    --text-inp-placeholder--color: hsl(0, 0%, 50%);

    /* Buttons */
    --btn-blue--color: white;
    --btn-blue--background: hsl(240, 100%, 50%);
    --btn-blue-hover--background: hsl(240, 100%, 70%);
    --btn-blue-active--background: hsl(240, 100%, 25%);

    --btn-green--color: white;
    --btn-green--background: hsl(120, 100%, 25%);
    --btn-green-hover--background: hsl(120, 100%, 35%);
    --btn-green-active--background: hsl(120, 100%, 15%);
    
    --btn-red--color: white;
    --btn-red--background: hsl(0, 100%, 45%);
    --btn-red-hover--background: hsl(0, 100%, 65%);
    --btn-red-active--background: hsl(0, 100%, 40%);

    --btn-skeuo--color: black;

    --btn-yellow--color: white;
    --btn-yellow--background: hsl(43, 100%, 50%);
    --btn-yellow-hover--background: hsl(43, 100%, 65%);
    --btn-yellow-active--background: hsl(43, 100%, 47%);

    /* Hierarchy */
    --hierarchy--padding: 0px 5px 5px 5px;

    /* Hierarchy item */
    --h-item-box--margin: 5px 0px;
    --h-item-box--padding: 0 5px 0 0;
    
    --h-item-hover-box--background: lemonchiffon;
    --h-item-hover-box--box-shadow: 0 0 0 1px black;

    --h-item-active-box--background: wheat;

    --h-selected-item-box--background: lemonchiffon;
    --h-selected-item-box--box-shadow: 0 0 0 1px black;

    --h-selected-item-hover-box--background: white;
    --h-selected-item-active-box--background: lemonchiffon;
}

:root[data-theme="dark"] {
    /* General */
    --general-fg--color: white;
    --general-bg--background: black;
    --general-sep--border: 1px solid white;

    /* Central panel */
    --central-pan-title--font-weight: 500;

    /* Bars */
    --bar--background: black;

    /* Text input */
    --text-inp--background: black;
    --text-inp--caret-color: white;
    --text-inp-focus--box-shadow: 0 0 1px 1px white;
    --text-inp-placeholder--color: hsl(0, 0%, 75%);

    /* Buttons */
    --btn-blue--color: white;
    --btn-blue--background: hsl(240, 100%, 50%);
    --btn-blue-hover--background: hsl(240, 100%, 70%);
    --btn-blue-active--background: hsl(240, 100%, 25%);

    --btn-green--color: white;
    --btn-green--background: hsl(120, 100%, 25%);
    --btn-green-hover--background: hsl(120, 100%, 35%);
    --btn-green-active--background: hsl(120, 100%, 15%);
    
    --btn-red--color: white;
    --btn-red--background: hsl(0, 100%, 45%);
    --btn-red-hover--background: hsl(0, 100%, 65%);
    --btn-red-active--background: hsl(0, 100%, 40%);
    
    --btn-skeuo--color: white;

    --btn-yellow--color: white;
    --btn-yellow--background: hsl(43, 100%, 50%);
    --btn-yellow-hover--background: hsl(43, 100%, 65%);
    --btn-yellow-active--background: hsl(43, 100%, 47%);

    /* Hierarchy */
    --hierarchy--padding: 0px 5px 5px 5px;

    /* Hierarchy item */
    --h-item-box--margin: 5px 0px;
    --h-item-box--padding: 0 5px 0 0;

    --h-item-hover-box--background: lemonchiffon;
    --h-item-active-box--background: wheat;

    --h-selected-item-box--background: white;
    --h-selected-item-hover-box--background: lemonchiffon;
    --h-selected-item-active-box--background: wheat;
}

:root[data-theme="skeuo"] {
    /* General */
    --general-fg--color: black;
    --general-bg--background:  linear-gradient(0deg, hsl(0, 0%, 80%) 0%, hsl(0, 0%, 91%) 100%);
    --general-sep--border: 1px solid gray;

    /* Central panel */
    --central-pan-title--font-weight: 300;
    --central-pan-title--text-shadow: 1px 1px 1px hsla(0, 0%, 50%, 0.5);

    /* Two panels */
    --right-panel--background: repeating-linear-gradient(to bottom, #eee 0px, #eee 2px, #fff 2px, #fff 4px);

    /* Bars */
    --bar--background: linear-gradient(0deg, hsl(0, 0%, 65%) 0%, hsl(0, 0%, 73%) 10%, hsl(0, 0%, 95%) 90%, hsl(0, 0%, 91%) 100%);

    /* Text input */
    --text-inp--background: white;
    --text-inp--box-shadow: inset 1px 1px 3px hsl(0, 0%, 50%);
    --text-inp-focus--box-shadow: inset 1px 1px 3px hsl(0, 0%, 75%);
    --text-inp-placeholder--color: hsl(0, 0%, 50%);

    /* Buttons */
    --btn-blue--color: white;
    --btn-blue--background: linear-gradient(0deg, hsl(220, 100%, 30%) 0%, hsl(220, 100%, 62%) 100%);
    --btn-blue-hover--background: linear-gradient(0deg, hsl(220, 100%, 43%) 0%, hsl(220, 100%, 68%) 100%);
    --btn-blue-active--background: linear-gradient(0deg, hsl(220, 100%, 24%) 0%, hsl(220, 100%, 55%) 100%);
    --btn-blue--border: 1px solid hsl(220, 100%, 25%);
    --btn-blue--text-shadow: -1px -1px 1px hsl(220, 100%, 15%);
    --btn-blue--box-shadow:
        inset 1px 1px 3px hsl(220, 100%, 45%),
        inset -1px -1px 3px hsl(220, 100%, 35%);
    
    --btn-green--color: white;
    --btn-green--background: linear-gradient(0deg, hsl(120, 100%, 25%) 0%, hsl(120, 100%, 40%) 100%);
    --btn-green-hover--background: linear-gradient(0deg, hsl(120, 100%, 30%) 0%, hsl(120, 100%, 42%) 100%);
    --btn-green-active--background: linear-gradient(0deg, hsl(120, 100%, 18%) 0%, hsl(120, 100%, 35%) 100%);
    --btn-green--border: 1px solid hsl(120, 100%, 15%);
    --btn-green--text-shadow: -1px -1px 1px hsl(120, 100%, 20%);
    --btn-green--box-shadow:
        inset 1px 1px 3px hsl(120, 100%, 30%),
        inset -1px -1px 3px hsl(120, 100%, 20%);
    
    --btn-red--color: white;
    --btn-red--background: linear-gradient(0deg, hsl(0, 100%, 45%) 0%, hsl(0, 100%, 73%) 100%);
    --btn-red-hover--background: linear-gradient(0deg, hsl(0, 100%, 55%) 0%, hsl(0, 100%, 80%) 100%);
    --btn-red-active--background: linear-gradient(0deg, hsl(0, 100%, 40%) 0%, hsl(0, 100%, 68%) 100%);
    --btn-red--border: 1px solid hsl(0, 100%, 20%);
    --btn-red--text-shadow: -1px -1px 1px hsl(0, 100%, 30%);
    --btn-red--box-shadow:
        inset 1px 1px 3px hsl(0, 100%, 35%),
        inset -1px -1px 3px hsl(0, 100%, 45%);
    
    --btn-skeuo--color: black;
    --btn-skeuo--background: linear-gradient(0deg, hsl(60, 1%, 75%) 0%, hsl(0, 0%, 98%) 100%);
    --btn-skeuo-hover--background: linear-gradient(0deg, hsl(60, 1%, 80%) 0%, hsl(0, 0%, 100%) 100%);
    --btn-skeuo-active--background: linear-gradient(0deg, hsl(60, 1%, 65%) 0%, hsl(0, 0%, 95%) 100%);
    --btn-skeuo--border: 1px solid gray;
    --btn-skeuo--box-shadow:
        inset 1px 1px 3px hsl(0, 0%, 75%),
        inset -1px -1px 3px hsl(0, 0%, 65%);
    
    --btn-yellow--color: white;
    --btn-yellow--background: linear-gradient(0deg, hsl(43, 100%, 50%) 0%, hsl(43, 100%, 78%) 100%);
    --btn-yellow-hover--background: linear-gradient(0deg, hsl(43, 100%, 58%) 0%, hsl(43, 100%, 85%) 100%);
    --btn-yellow-active--background: linear-gradient(0deg, hsl(43, 100%, 47%) 0%, hsl(43, 100%, 70%) 100%);
    --btn-yellow--border: 1px solid hsl(43, 100%, 35%);
    --btn-yellow--text-shadow: -1px -1px 1px hsl(43, 100%, 42%);
    --btn-yellow--box-shadow:
        inset 1px 1px 5px hsl(43, 100%, 48%),
        inset -1px -1px 3px hsl(43, 100%, 40%);

    /* Catalogue */
    --cat-hierarchy--background: hsl(0, 0%, 88%);
    --cat-hierarchy--box-shadow:
        inset 7px 7px 20px hsl(0, 0%, 70%),
        inset -7px -7px 20px hsl(0, 0%, 100%);
    
    /* Hierarchy item */
    --h-item-box--padding: 5px;

    ---h-item-common-gradient:
        linear-gradient(hsl(0 0% 100% / 0.85), transparent 10px),
        linear-gradient(hsl(0 0% 100% / 0.25) 10px, transparent 10px),
        radial-gradient(circle at 10px 5px, hsl(0 0% 100% / 0.25) 5px, transparent 5px),
        radial-gradient(circle at 0px 5px, hsl(0 0% 100% / 0.25) 5px, transparent 5px);
    ---h-item-blue-gradient:
        var(---h-item-common-gradient),
        linear-gradient(hsl(213, 82%, 87%), hsl(181, 95%, 92%));
    ---h-item-red-gradient:
        var(---h-item-common-gradient),
        linear-gradient(hsl(47, 82%, 87%), hsl(15, 95%, 92%));
    ---h-item-yellow-gradient:
        var(---h-item-common-gradient),
        linear-gradient(hsl(67, 82%, 87%), hsl(35, 95%, 92%));

    --h-item-hover-box--background: var(---h-item-yellow-gradient);
    --h-item-active-box--background: var(---h-item-red-gradient);
    --h-selected-item-box--background: var(---h-item-blue-gradient);
    --h-selected-item-hover-box--background: var(---h-item-yellow-gradient);
    --h-selected-item-active-box--background: var(---h-item-red-gradient);

    /* Options */
    --opt-left-panel--background: var(--cat-hierarchy--background);
    --opt-left-panel--box-shadow: var(--cat-hierarchy--box-shadow);

    --opt-row-hover--background: linear-gradient(hsl(0, 0%, 100%), hsl(0, 0%, 92%));
}
