@import '../themes.scss';
@import './View.scss';

.CatalogueView {
    @extend .View;

    // Content of the left panel.
    .left-panel-content {
        height: 100%;
        overflow: hidden;
        
        // Header above the hierarchy component.
        .hierarchy-head {
            padding: 10px;
            border-bottom: var(--general-sep-border);
            
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            // Box of buttons on the right.
            .hierarchy-head-right-box {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-end;
                gap: 15px;
            }
        }

        // Document hierarchy.
        .hierarchy-body {
            height: 100%;
            overflow: hidden;
        }
    }
}
