@import './View.scss';

.CatalogueView {
    @extend .View;

    /* Widget for displaying document hierarchy. */
    .doc-list {
        padding: 10px;
        
        .list-head {
            padding-bottom: 10px;
            border-bottom: 1px solid black;
            
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

            .list-header-right-side {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: flex-end;
                gap: 15px;
            }
        }

        .list-body {
        }
    }
}
