@import '../themes.scss';
@import './View.scss';

.LoginView {
    @extend .View;

    .form-row {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .error {
        color: red;
    }
}
